# Python 虚拟环境
.venv/

# Python 编译缓存
__pycache__/
*.pyc

# IDE 配置
.idea/

# 环境变量文件（防止 API Key 泄露）
.env

# 聊天历史记录
LangChain学习/chat_histories/

# 文本分词模型
tools/embedding_model

# 向量数据库
RAG学习/chroma_langchain_db/

# 个人用
AGENTS.md

# skill
.opencode